/**
 * Header
 */
 .uk-navbar-container {
    background-color: #fff !important;
}

.uk-navbar-container .uk-navbar-left {
    padding: 15px 30px;
}

.uk-navbar-container .uk-navbar-left .uk-navbar-left__logo{
    width: 40px;
    height: 40px;
}

.uk-navbar-container .uk-navbar-left .uk-navbar-left__logo img{
    width: 100%;
    height: 100%;
}

.uk-navbar-container .uk-navbar-left .uk-logo {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600;
    color: #004aad;
}

.uk-navbar-container .uk-navbar-left .uk-logo .uk-logo__image{
    padding-right: 8px;
}

.uk-navbar-container .uk-navbar-center .uk-tab {
    height: 82px;
}

.uk-navbar-container .uk-navbar-center .uk-tab li a {
    height: 86%;
    padding: 5px 25px;
    display: flex;
    align-items: center;
}

.uk-navbar-container .uk-navbar-center .uk-tab li.uk-active a    {
    color: #004aad !important;
    border-color: #004aad !important;
} 

.uk-navbar-container .uk-navbar-right {
    padding: 0 30px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__user {
    padding: 0;
    width: 100px;
    height: 40px;
    /* background-color: #999; */
    border-radius: 30px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__user:hover {
    background-color: #004aad;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__user a {
    color: #999;
    height: 100%;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__user a:hover {
    color: #f8f8f8;
    text-decoration: none;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__user a .uk-user-image {
    width: 34px;
    height: 34px;
    margin-left: 4px;
}


.uk-navbar-container .uk-navbar-right .uk-navbar-right__user a .uk-user-name {
    margin-left: 8px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown {
    padding: 0;
    left: 1250px;
    width: 250px;
    border-radius: 10px;
    padding: 10px 20px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown .uk-nav li a {
    display: flex !important;
    align-items: center;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown .uk-nav li a:hover {
    color: #f8f8f8;
    background-color: #004aad;
    border-radius: 10px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown .uk-nav li a .uk-user-image {
    margin-left: 10px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown .uk-nav li a span {
    margin-left: 10px;
}

.uk-navbar-container .uk-navbar-right .uk-navbar-right__buttons .uk-navbar-nav .uk-navbar-dropdown .uk-nav li a .uk-user-image {
    width: 40px;
    height: 40px;
}
