
<div class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">
        
        <div uk-grid>
            <a class="uk-logo uk-flex" href="#">
                
                <div class="uk-logo__image uk-flex uk-flex-middle">
                    <div class="uk-navbar-left__logo uk-border-circle uk-overflow-hidden">
                        <img uk-img  data-src="./assets/images/nearly-logo-cuadrado.png" alt="">
                    </div>
                </div>
                
                <span style="text-shadow: 2px 2px 0px #f5f0f0;">nearly</span></a>
        </div>
    </div>
    <div class="uk-navbar-center">
        <ul uk-tab class="uk-margin-remove">
            <li class="uk-active"><a href="#"><span uk-icon="icon: file-edit; ratio: 1.2"></span></a></li>
            <li><a href="#"><span uk-icon="icon: search; ratio: 1.2"></span></a></li>
            <li><a href="#"><span uk-icon="icon: image; ratio: 1.2"></span></a></li>
            <li class=""><a><span uk-icon="icon: play-circle; ratio: 1.2"></span></a></li>
            <li class=""><a><span uk-icon="icon: bookmark; ratio: 1.2"></span></a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <div uk-grid class="uk-flex uk-flex-middle">
            
            <div class="uk-navbar-right__user uk-flex">
                <a href="" class="uk-flex uk-flex-middle">
                    <div class="uk-user-image uk-border-circle uk-overflow-hidden">
                        <img src="https://scontent.fsti4-2.fna.fbcdn.net/v/t1.0-9/90128472_2520420521552794_319619234101460992_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_eui2=AeFR4RfZfXTHSoGdmA6jH5wj8ErTNlGQwWnwStM2UZDBaeMew932Nkzks34zYgp_7ghH-0NKijIBP-8WNhorraWp&_nc_ohc=pjZcWWaIvAoAX-5G59e&_nc_ht=scontent.fsti4-2.fna&oh=9eb1f8415f45a7677e84091af5426b54&oe=5F9E870C" alt="">
                    </div>
                    <span class="uk-user-name uk-text-capitalize">wilson</span>
                </a>
            </div>
            <div class="uk-navbar-right__buttons uk-flex uk-flex-middle">
                <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                <a href="https://www.facebook.com/wilson.juma.583/" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#"><span uk-icon="icon: triangle-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">
                                    <div class="uk-user-image uk-border-rounded uk-overflow-hidden">
                                        <img src="https://scontent.fsti4-2.fna.fbcdn.net/v/t1.0-9/90128472_2520420521552794_319619234101460992_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_eui2=AeFR4RfZfXTHSoGdmA6jH5wj8ErTNlGQwWnwStM2UZDBaeMew932Nkzks34zYgp_7ghH-0NKijIBP-8WNhorraWp&_nc_ohc=pjZcWWaIvAoAX-5G59e&_nc_ht=scontent.fsti4-2.fna&oh=9eb1f8415f45a7677e84091af5426b54&oe=5F9E870C" alt="">
                                    </div>
                                    <div>
                                        <span class="uk-user-name uk-text-capitalize">wilson juma</span> <br>
                                        <span>Ver tu perfil</span>
                                    </div>
                                </a></li>
                                <li class="uk-nav-divider uk-margin-bottom"></li>
                                <li><a href="#"> <span uk-icon="icon: commenting"></span> &nbsp; Enviar comentarios</a></li>
                                <li><a href="#"> <span uk-icon="icon: cog"></span> &nbsp; Configuracion y privacidad</a></li>
                                <li><a href="#"><span uk-icon="icon: question"></span> &nbsp; Ayuda y soporte tecnico</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#"><span uk-icon="icon: sign-out"></span> &nbsp; Salir</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
   
</div>