/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

.uk-padding {
    padding: 50px 50px;
}

body, html {
    font-family: 'PT Sans', sans-serif !important;
    background-color: #f8f8f8 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif !important;
}


